{% extends "base.html" %}

{% block title %}Quiz History{% endblock %}

{% block content %}
<h1>Quiz History</h1>

{% if current_attempt %}
<h2>Current Attempt</h2>
<ul>
    <li>
        Started: {{ current_attempt.start_time.strftime('%Y-%m-%d %H:%M:%S') }},
        {% if current_attempt.end_time %}
        Finished: {{ current_attempt.end_time.strftime('%Y-%m-%d %H:%M:%S') }},
        {% else %}
        <em>In Progress</em>
        ({{ '%.0f' % current_attempt.remaining_percentage }} % left)
        {% endif %}
        {% if current_attempt.correct_percentage is not none %}
        | Score so far: {{ '%.0f' % current_attempt.correct_percentage }}%
        {% endif %}
    </li>
</ul>

<h3>Answered Questions</h3>
{% if answered_questions %}
<ul>
    {% for answer in answered_questions %}
    <li>
        <!-- Assuming answer.question is available and contains the Question -->
        <a href="{{ url_for('main.answered_view', qid=answer.question_id) }}">
            {{ answer.question.text }}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No questions answered yet.</p>
{% endif %}
{% endif %}

<h2>Other Attempts</h2>
<ul>
    {% for attempt in attempts %}
    {% if current_attempt and attempt.id != current_attempt.id or not current_attempt %}
    <li>
        Started: {{ attempt.start_time.strftime('%Y-%m-%d %H:%M:%S') }},
        {% if attempt.end_time %}
        Finished: {{ attempt.end_time.strftime('%Y-%m-%d %H:%M:%S') }},
        {% else %}
        <em>Unfinished</em>,
        {% endif %}
        {% if attempt.correct_percentage is not none %}
        Score: {{ "%.0f" % attempt.correct_percentage }}%
        {% else %}
        Score: 0 %
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>

<a href="{{ url_for('main.reset_quiz') }}" id="reset" class="btn">Reset quiz</a>
<a href="{{ url_for('main.quiz') }}" class="btn">Back to Quiz</a>
{% endblock %}